# General
TESTNET_ALCHEMY_URL=
TESTNET_PRIVATE_KEY=
MAINNET_ALCHEMY_URL=
MAINNET_PRIVATE_KEY=

# Token 
TOKEN_NAME=
TOKEN_SYMBOL=

# Vending
USDC_ADDRESS=
USDT_ADDRESS=
TOKEN_ADDRESS=
TOKEN_TO_USDC_RATE=
MINIMUM_PURCHASE_AMOUNT=
PRICE_FEED_USDC=
PRICE_FEED_USDT=
PRICE_FEED_MATIC=