# General
TESTNET_ALCHEMY_URL=
TESTNET_PRIVATE_KEY=
MAINNET_ALCHEMY_URL=
MAINNET_PRIVATE_KEY=

# Token(ERC20)
ERC20_NAME=
ERC20_SYMBOL=

# Vending
USDC_ADDRESS=
USDT_ADDRESS=
ERC20_ADDRESS=
ERC20_TO_USDC_RATE=
MINIMUM_PURCHASE_AMOUNT=
PRICE_FEED_USDC=
PRICE_FEED_USDT=
PRICE_FEED_MATIC=